/*
 * 待機頁 #screen-idle
 */

@use "variables" as *;
@use "mixins" as *;

#screen-idle {
  background-color: aqua;
  background-image: url("#{$path-templates}/IdlePage/cover.png");
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  width: 1920px;
  height: 1080px;
}

#screen-idle .screen-idle__background,
#screen-idle .screen-idle__logo,
#screen-idle .screen-idle__coin {
  @include absolute-fill;
  object-fit: contain;
}
