/*
 * 拍照頁 #screen-shoot（已清空，請在此實作）
 */

@use "variables" as *;
@use "mixins" as *;

#screen-shoot {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100vh;
  background-image: url("#{$path-templates}/ShootPage/background.png");
}

#screen-shoot .screen-shoot__content {
  position: relative;
  width: 100%;
  height: 100%;
}
